 html,body {
  font-family: 'Gotham';
  font-weight: 300;
  line-height: 1.42;
}
.header {
  background: #052730;
  height: 100px;
}
.header__text{
  color: #FFFFFF;
  line-height: 0.5;
}
.phone-number {
  text-decoration: none;
  color: #ffffff;
  padding-top: 15px;
}
.schelude {
  margin-bottom: -30px;
}
.container {
  width: 100%;
  height: 100px;
  display: flex;
}
.name-company {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 15px;
}
.contacts {
    text-align: right;
    width: 50%;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}
.main {
  width: 100%;
}
.wrapper {
  display: flex;
}
.page-image {
  width: 100%;
}
.page-text {
display: flex;
justify-content: flex-start;
}
.sidebar {
  margin: 0;
  width: 10%;
  display: flex;
  justify-content: flex-start;
}
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.rods {
  display: flex;
  flex-direction: column;
}
.rods__img{
  width: 250px;
  height: 150px;
  border-radius: 3px;
}
.rods__dropdown {
  display: none;
  z-index: 1000;
  background: #ffffff;
  position: absolute;
  margin-top: 30px;
  border-radius: 3px;
  border: 1px solid black;
  width: 1035px;
  right: 0px;
}
.rods:hover .rods_dropdown {
  display: block;
}
.rods__photo-first{
  width: 400px;
  height: 400px;
  padding-top: 20px;
  padding-left: 70px;
}
.rods__photo-second {
  width: 400px;
  height: 400px;
  padding-top: 30px;
  padding-left: 70px;
}
.product__text{
  text-align: center;
  color: #ffffff;
}
.lure {
  display: flex;
  flex-direction: column;
}
.lure__img {
  width: 250px;
  height: 150px;
}
.lure__dropdown {
  display: none;
  z-index: 1000;
  background: #ffffff;
  position: absolute;
  margin-top: 30px;
  border-radius: 3px;
  border: 1px solid black;
  width: 1035px;
  right: 0px;
}
.lure:hover .lure_dropdown {
  display: block;
}
.tackle {
  display: flex;
  flex-direction: column;
}
.tackle__img {
  width: 250px;
  height: 150px;
}
.tackle__dropdown {
  display: none;
  z-index: 1000;
  background: #ffffff;
  position: absolute;
  margin-top: 30px;
  border-radius: 3px;
  border: 1px solid black;
  width: 1035px;
  right: 0px;
}
.tackle:hover .tackle_dropdown {
  display: block;
}
.equipment {
  display: flex;
  flex-direction: column;
}
.equipment__img {
  width: 250px;
  height: 150px;
}
.equipment__dropdown {
  display: none;
  z-index: 1000;
  background: #ffffff;
  position: absolute;
  margin-top: 30px;
  border-radius: 3px;
  border: 1px solid black;
  width: 1035px;
  right: 0px;
}
.equipment:hover .equipment_dropdown {
  display: block;
}
.navigation {
  margin: auto;
}
.navigation__mape{
  display: flex;
  justify-content: center;
}
.navigation__text {
  text-align: center;
}
.mape {
margin:auto;
margin-bottom: 20px;
}
.footer {
  background: #282828;
  height: 77px;
}
