 html,body {
  font-family: 'Gotham';
  font-weight: 300;
  line-height: 1.42;
}
.header {
  background-color : #052730;
  
}
.header__text{
  color: #FFFFFF;
  line-height: 0.5;
}
.phone-number {
  text-decoration: none;
  color: #ffffff;
  padding-top: 15px;
}
.schelude {
  margin-bottom: -30px;
}
.container {
  width: 100%;
  display: flex;
}
.name-company {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 15px;
}
.contacts {
    text-align: right;
    width: 50%;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}
.main {
  width: 100%;
}
.wrapper {
  display: flex;
}
.page-image {
  width: 100%;
}
.page-text {
  display: flex;
  margin-left: 15%;

}
.wrapper-description {
  width: 100%;
}
.description {
  background-color: #052730;
  width: 100%;
  height: 50%;
}
.rods__img{
  width: 80%;
  height:80%;
  border-radius: 3px;
}
.rods__dropdown {
  display: flex;
 margin-left: 4%;
  width: 80%;
  visibility: hidden;
  z-index: 1000;
  background: #ffffff;
  position: absolute;
  border-radius: 3px;
  border: 1px solid black;
}
.dropdown__text {
  padding-left: 5%;
}
.rods:hover .rods__dropdown {
  visibility: visible;
}
.rods__photo-first{
  width: 30%;
  height: 20%;
  margin-left: 0.01%;
}
.rods__photo-second {
  width: 30%;
  height: 20%;
  margin-left: 2%;
}
.product__text{
  margin-left: 30%;
  color: #ffffff;
  align-items: flex-start;
}
.product__list{
  list-style: none;
  display:flex;
  justify-content: space-around;
  padding: 0;
  padding-left: 5%;
}
.description__image {
  margin-top: 20px;
}
.lure__img {
  width: 80%;
  height:80%;
  border-radius: 3px;
}
.lure__dropdown {
  display: flex;
  margin-left:-10%;
  width: 60%;
  visibility: hidden;
  z-index: 1000;
  background: #ffffff;
  position: absolute;
  border-radius: 3px;
  border: 1px solid black;
}
.lure__photo-first {
  width: 40%;
  height: 30%;
}
.lure:hover .lure__dropdown {
  visibility: visible;
}
.tackle__img {
  width: 80%;
  height:80%;
  border-radius: 3px;
}
.tackle__dropdown {
  display: flex;
  margin-left: -43%;
  width: 80%;
  visibility: hidden;
  z-index: 1000;
  background: #ffffff;
  position: absolute;
  border-radius: 3px;
  border: 1px solid black;
}
.tackle__photo-first{
  width: 30%;
  height: 20%;
}
.tackle__photo-second {
  width: 30%;
  height: 20%;
  margin-left: 2%;
}
.tackle:hover .tackle__dropdown {
  visibility: visible;
}
.equipment__img {
  width: 80%;
  height:80%;
  border-radius: 3px;
}
.equipment__dropdown {
  display: flex;
  margin-left: -67%;
  width: 80%;
  visibility: hidden;
  z-index: 1000;
  background: #ffffff;
  position: absolute;
  border-radius: 3px;
  border: 1px solid black;
}
.equipment__photo-first{
  width: 30%;
  height: 20%;
}
.equipment__photo-second {
  width: 30%;
  height: 20%;
  margin-left: 2%;
}
.equipment:hover .equipment__dropdown {
  visibility: visible;
}
.navigation {
  margin: auto;
}
.navigation__mape{
  display: flex;
  justify-content: center;
}
.navigation__text {
  text-align: center;
}
.mape {
margin:auto;
margin-bottom: 20px;
}
@media only screen and (min-width : 320px) and (max-width : 480px){.product__list{flex-direction: column;justify-content: center;margin-left: 45px;}};
